.widget {
	cursor: pointer;
	box-sizing: border-box;
	padding-top:16px;
}

.widget:hover {
   	background-image: url("images/widget.png");
   	background-position: 95% 0%;
   	background-repeat: no-repeat;
}

.widget input[type="text"] {
	width: 150px;
	border: 2px solid lightblue;
	border-radius: 4px;
}

.widget textarea {
	rows: 4;
	cols: 50;
	border: 2px solid lightblue;
	border-radius: 4px;
  	resize: both;
  	overflow: auto;
}

.widget select {
	width: 150px;
	border: 2px solid lightblue;
	border-radius: 4px;
}

.widget .carryforward {
	width: 100px;
	height: 24px;
	border: 1px solid lightblue;
	background-color: white;
  	resize: both;
  	overflow: auto;
}

.widget .media {
	width: 300px;
	height: 300px;
	border: 1px solid lightblue;
	background-color: white;
  	resize: both;
  	overflow: auto;
}

.widget .diagnosticpath {
	width: 50%;
	height: 800px;
	border: 1px solid lightblue;
	background-color: white;
	opacity: 1;
}

.widget .multiplechoice {
	position: absolute;
}

.widget .checklist {
	position: absolute;
	
}
